@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
}

.brand {
    font-size: 700px;
    font-size: 2rem;
    color: rgb(19, 19, 19);
}

.nav-title {
    margin-left: 100px;
}

.header {
    background-color: rgba(255, 144, 14, 0.1);
    width: 100%;
    min-height: 1250px;
}

.display-flex {
    display: flex;
    justify-content: space-between;
}

.navlinks {
    margin-right: 100px;
    align-items: center;

}

.login {
    margin-left: 20px;
    font-size: 18px;
    color: rgb(66, 66, 66);
    text-decoration: none;
}

.banner {
    text-align: center;
}

.banner-title {
    color: rgb(19, 19, 19);
    font-weight: 700px;
    font-size: 40px;
    margin-top: 50px;


}

.banner-descripation {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400px;
    margin-top: 0px;
}

.primary-btn {
    border-radius: 5px;
    background: rgb(255, 144, 14);
    width: 160px;
    height: 44px;
    border: rgb(255, 144, 14) solid;
    color: white;
    font-size: 16px;
    margin-top: 15px;

}

.banner-contant {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.banner-img {
    width: 100%;
    min-height: 720px;
    margin-left: 150px;
    margin-right: 150px;

}

.images4-prents {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.image4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

}

.images {
    width: 342px;
    height: 342px;
    border: white solid;
    border-radius: 20px;
}

.images-textdivmain {
    margin-left: 50px;

}

.image-title {
    font-size: 35px;
    font-weight: 700px;
    color: rgb(19, 19, 19);
}

.title-color-1 {
    color: rgb(114, 114, 114);

}

.title-color-2 {
    color: rgb(255, 144, 14);

}

.image-descripation {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400px;

}

@media screen and (max-width:576px) {

    .navlinks,
    .display-flex,
    .images4-prents {
        flex-direction: column;
    }
    .image4{
        grid-template-columns: repeat(1, 1fr);
    }
}